<div class="container">
  <div class="row">  
    <div class="panel panel-default">
      <div class="panel-heading">Character Information</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  
  <div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="col-xs-4 col-sm-12" ng-repeat="abilityScore in character.abilityScores">
      <div class="panel panel-default">
        <div class="panel-heading">{{abilityScore.abbr}}</div>
        <div class="panel-body">
            <input type="number" name="quantity" min="1" max="20" value="{{abilityScore.score}}" ng-model="abilityScore.score">
        </div>
      </div>    
    </div>
    </div>

  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Ear1</div>
      <div class="panel-body">
        12
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">Dropdown</div>
      <div class="panel-body">
        12
      </div>
    </div>
  </div>
  </div>
</div>