<div class="container-fluid">
  <div class="row">  
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Character Information</div>
        <div class="panel-body" style="padding-top: 0;">
          <div class="row">
            <div class="col-md-3">
            
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Character Name</label>
                    <input class="form-control input-sm" id="focusedInput1" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Class</label>
                    <input class="form-control input-sm" id="focusedInput1" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Level</label>
                    <input class="form-control input-sm" id="focusedInput1" type="text">
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-9">
              
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Race</label>
                    <input class="form-control input-sm" id="focusedInput1" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Background</label>
                    <input class="form-control input-sm" id="focusedInput1" type="text">
                  </div>
                </div>
              </div>
             
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="col-xs-12 col-sm-12" ng-repeat="abilityScore in character.abilityScores">
      <div class="panel panel-default">
        <div class="panel-heading">{{abilityScore.abbr}}</div>
        <div class="panel-body">
            <input type="number" name="quantity" min="1" max="20" value="{{abilityScore.score}}" ng-model="abilityScore.score">
        </div>
      </div>    
    </div>
    </div>

  <div class="col-xs-12 col-sm-6">
    <div class="col-xs-12 col-md-4" ng-repeat="item in character.gear">
      <div class="panel panel-default">
        <div class="panel-heading">{{item.name}}</div>
        <div class="panel-body">
          Item
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading" style="padding: 0;">


    <div class="btn-group" style="margin: 0; width: 100%;">
      <a href="bootstrap-elements.html" data-target="#" class="btn btn-default btn-block btn-raised dropdown-toggle" data-toggle="dropdown" >
        {{character.currentTab}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="tab in character.tabs"><a href="javascript:void(0)" ng-click="character.setTab(tab.name)">{{tab.name}}</a></li>
      </ul>
    </div>

      </div>
      <div class="panel-body">
        
        <div class="list-group">
  <div class="list-group-item">
    <div class="row-picture">
      <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
    </div>
    <div class="row-content">
      <h4 class="list-group-item-heading">Item Name</h4>

      <p class="list-group-item-text">Item Descriptions</p>
    </div>
  </div>
  <div class="list-group-separator"></div> 
</div>
        
        
      </div>
    </div>
  </div>
  </div>
</div>