<div class="list-group" style="margin-bottom: 10px;"> 
  <div class="btn-group" style="margin: 0; width: 100%;">
    <a class="btn btn-default btn-block btn-raised dropdown-toggle" data-target="#" data-toggle="dropdown" style="background-color: #fff; padding: 2px 3px 3px 2px; text-align: left;">
    {{effects.racialEffects().source}}
      <span class="pull-right">
        <span ng-repeat="effect in effects.racialEffects().effects">{{effect.abbr}}: {{effect.value}};</span>
      </span>
    </a>
  </div>
  
  <div class="btn-group" style="margin: 0; width: 100%;" ng-repeat="eff in effects.gearEffects()">
    <a class="btn btn-default btn-block btn-raised dropdown-toggle" data-target="#" data-toggle="dropdown" style="background-color: #fff; padding: 2px 3px 3px 2px; text-align: left;">
  {{eff.source}}      
    </a>
  </div>  
  
  
  
</div>