<div class="col-xs-12">
  <div class="panel panel-default" style="height: 80%">
  <div class="panel-heading" style="padding: 0;">
    <div class="btn-group" style="margin: 0; width: 100%;">
      <a href="bootstrap-elements.html" data-target="#" class="btn btn-default btn-block btn-raised dropdown-toggle" data-toggle="dropdown" >
      {{listbox.currentTab}}
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="tab in listbox.tabs"><a href="javascript:void(0)" ng-click="listbox.setTab(tab.name)">{{tab.name}}</a></li>
      </ul>
    </div>
  </div>
  <div class="panel-body ct-panel-body">
    <div ui-view="{{tab.tabName}}" ng-repeat="tab in listbox.tabs" ng-show="listbox.currentTab === tab.name"></div>
  </div>
</div>
</div>