<div class="col-xs-12 col-sm-12" ng-repeat="abilityScore in abilityScores.abilityScores">
  <div class="panel panel-default ct-panel">
    <div class="panel-heading ct-panel-heading">
      <div class="">
        {{abilityScore.abbr}} 
      </div>
    </div>
    <div class="panel-body ct-panel-body">
      
        <input type="number" name="quantity" min="1" max="20" value="{{abilityScore.score}}" ng-model="abilityScore.score" style="width: 3em;" title="Base Stat"> 
        <input type="text" value="{{abilityScore.racialBonus}}" ng-model="abilityScore.racialBonus" disabled style="width: 2em;" title="Racial Bonus" ng-show="false"> 
        <input type="text" value="{{abilityScore.gearBonus}}" ng-model="abilityScore.gearBonus" disabled style="width: 2em;" title="Gear Bonus" ng-show="false"> 
        <input type="text" value="{{abilityScore.spellBonus}}" ng-model="abilityScore.spellBonus" disabled style="width: 2em;" title="Spell Bonus" ng-show="false">  
        <input type="text" value="{{abilityScore.miscBonus}}" ng-model="abilityScore.miscBonus" disabled style="width: 2em;" title="Misc Bonus" ng-show="false"> 
        <input type="text" value="{{abilityScore.classBonus}}" ng-model="abilityScore.classBonus" disabled style="width: 2em;" title="Class Bonus" ng-show="false"> 
        <input type="text" value="{{(abilityScore.score + abilityScore.racialBonus + abilityScore.gearBonus + abilityScore.spellBonus + abilityScore.miscBonus + abilityScore.classBonus) | number : 0}}" disabled style="width: 2em;" title="Total"> 
        
        <input type="text" value="{{(abilityScore.score + abilityScore.racialBonus + abilityScore.gearBonus + abilityScore.spellBonus + abilityScore.miscBonus + abilityScore.classBonus) / 2 - 5.1 | number : 0}}" disabled style="width: 2em;" title="Total"> 
      
    </div>
  </div>
</div>