<div class="col-xs-12 col-sm-12">
  <div class="panel panel-default ct-panel" ng-repeat="abilityScore in abilityScores.abilityScores" style="margin-bottom:0px">
    <div class="panel-heading ct-panel-heading">
      <div class="btn-group" style="margin: 0; width: 100%;">
        <a class="btn btn-default btn-block btn-raised" style="background-color: #fff; padding: 2px 3px 3px 2px; text-align: left;" ng-click="abilityScore.showDetail = !abilityScore.showDetail">
        {{abilityScore.abbr}} 
        <input type="text" class="pull-right" value="{{(abilityScore.score + abilityScore.racialBonus + abilityScore.gearBonus + abilityScore.spellBonus + abilityScore.miscBonus + abilityScore.classBonus) / 2 - 5.1 | number : 0}}" disabled style="width: 2em;" title="Total"> 
        <input type="text" class="pull-right" value="{{(abilityScore.score + abilityScore.racialBonus + abilityScore.gearBonus + abilityScore.spellBonus + abilityScore.miscBonus + abilityScore.classBonus) | number : 0}}" disabled style="width: 2em;" title="Total"> 
        <span class="caret"></span>
        </a>
      </div>
    </div>
    <div class="panel-body ct-panel-body" ng-show="abilityScore.showDetail">
      <div class="row">
        <div class="col-xs-6">
 Base Stat
        </div>
        <div class="col-xs-6">
        <input type="number" name="quantity" min="1" max="20" value="{{abilityScore.score}}" ng-model="abilityScore.score" style="width: 3em;" title="Base Stat"> 
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
 Racial
        </div>
        <div class="col-xs-6">
          <input type="text" value="{{abilityScore.racialBonus}}" ng-model="abilityScore.racialBonus" disabled style="width: 2em;" title="Racial Bonus">  
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
 Gear
        </div>
        <div class="col-xs-6">
          <input type="text" value="{{abilityScore.gearBonus}}" ng-model="abilityScore.gearBonus" disabled style="width: 2em;" title="Gear Bonus"> 
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
 Spells
        </div>
        <div class="col-xs-6">
          <input type="text" value="{{abilityScore.spellBonus}}" ng-model="abilityScore.spellBonus" disabled style="width: 2em;" title="Spell Bonus"> 
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
Misc
        </div>
        <div class="col-xs-6">
          <input type="text" value="{{abilityScore.miscBonus}}" ng-model="abilityScore.miscBonus" disabled style="width: 2em;" title="Misc Bonus"> 
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
Class
        </div>
        <div class="col-xs-6">
          <input type="text" value="{{abilityScore.classBonus}}" ng-model="abilityScore.classBonus" disabled style="width: 2em;" title="Class Bonus">
        </div>
      </div>
    </div>
  </div>
</div>