<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>Race ID</th>
    <th>Race Size</th>
    <th>Race Speed</th>
  </tr>
  </thead>
  <tbody>

  <tr ng-repeat="race in races.newRace">
    <td>Add New Race</td>
    <td>
      <input type="text" class="form-control" ng-model="race.name">
    </td>
    <td>
      <input type="text" class="form-control" ng-model="race.size">
    </td>
    <td>
      <input type="text" class="form-control" ng-model="race.speed">
    </td>
    <td><a href="javascript:void(0)" class="btn btn-sm btn-raised btn-default" ng-click="races.addRace(race)">Add New Race</a>
    </td>
  </tr>
  <tr ng-repeat="race in races.races">
    <td>{{race._id}}</td>
    <td>
      <input type="text" class="form-control" ng-model="race.name">
    </td>
    <td>
      <input type="text" class="form-control" ng-model="race.ability">
    </td>
    <td>
      <input type="text" class="form-control" ng-model="race.speed">
    </td>
    <td>
      <div class="btn-group-vertical">
        <a href="javascript:void(0)" class="btn btn-sm btn-raised btn-default" ng-click="races.updateRace(race)">Update</a>
         <a href="javascript:void(0)" class="btn btn-sm btn-raised btn-default" ng-click="races.deleteRace(race._id)">Delete</a>
      </div>
      
     
    </td>
  </tr>
  </tbody>
</table>