<div class="btn-group" style="margin: 0; width: 100%;">
  <a class="btn btn-default btn-block btn-raised dropdown-toggle" data-target="#" data-toggle="dropdown" style="background-color: #fff; padding: 2px 3px 3px 2px; text-align: left;" ng-click="abilityScore.showDetail = !abilityScore.showDetail">
  Race
  <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="javascript:void(0)">Dropdown link</a></li>
    <li><a href="javascript:void(0)">Dropdown link</a></li>
    <li><a href="javascript:void(0)">Dropdown link</a></li>
  </ul>
</div>

<div class="btn-group" style="margin: 0; width: 100%;">
  <div class="btn btn-default btn-block btn-raised" style="background-color: #fff; padding: 2px 3px 3px 2px; text-align: left;" ng-repeat="class in classes.classes">
    {{class.name}}
  </div>
      
</div>
<div class="list-group" style="margin-bottom: 10px;">
  <div class="list-group-item"  draggable="true">
  </div>
</div>